@{
    ViewData["Title"] = "Edit";
}

@model Pedido

<div class="container mt-4">
    <h2>Editar pedido</h2>
    <form asp-action="Edit">
        <input type="hidden" asp-for="PedidoId" />

            <div class="form-group">
            <label asp-for="Fecha">Fecha</label>
            <input asp-for="Fecha" class="form-control" type="date" />
            <span asp-validation-for="Fecha" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="ClienteId">Cliente</label>
            <select asp-for="ClienteId" class="form-control" asp-items="new SelectList(ViewBag.Clientes, nameof(Cliente.
            ClienteId), nameof(Cliente.Nombre), Model.ClienteId)">
                <option value="">Seleccione un Cliente...</option>
            </select>
            <span asp-validation-for="ClienteId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-primary btn-sm">Guardar</button> 
        <a asp-action="Index" class="btn btn-secondary btn-sm">Volver</a>   
    </form>

</div>