

@{
    ViewData["Title"] = "Index";
}

@model List<Pedido>
    <div class="container mt-4">
        <h2>Pedidos</h2>
        <a href="" class="btn btn-primary mb-2">Crear Nuevo Pedido</a>

    </div>

